.Content {
    &__Sign-up-Button {
        &--green-theme {
            background-color: green;
        }

        &--text-theme {
            color: white;
        }

        &--font-size {
            font-size: 20px;
        }
    }
}