.block-1 {
    &--size {
        width: 100px;
        height: 100px;
    }

    &--color {
        background-color: #dc3545;
    }
}

.block-2 {
    &--size {
        width: 100px;
        height: 100px;
    }

    &--color {
        background-color: #007bff;
    }
}

.block-3 {
    &--size {
        width: 100px;
        height: 100px;
    }

    &--color {
        background-color: #ffc107;
    }
}

@media screen and (min-width: 1200px) {
    body {
        .block-1 {
            &--size {
                width: 200px;
                height: 200px;
            }
        
            &--color {
                background-color: #007bff;
            }
        }
        
        .block-2 {
            &--size {
                width: 200px;
                height: 200px;
            }
        
            &--color {
                background-color: #dc3545;
            }
        }
        
        .block-3 {
            &--size {
                width: 200px;
                height: 200px;
            }
        
            &--color {
                background-color: #ffc107;
            }
        }
    }
}