.big {
    background-color: #252626;
    &__container {
        &__row {
            &__col-12 {
                &__ul {
                    &__li {
                        &__a {
                            color: #999;
                        }
                        
                        &__a:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.Card {
    &__row {
        &__col-12 {
            height: 500px;
            &__box {
                height: 300px;
                width: 70%;
                background-color: white;
                border-radius: 25px 25px 0 0;
            }
        }
    }
}